          The following product's inventory has fallen below the watch value: <br><br>

          <div>
            <h3>Product:</h3>
            <%= image_tag(@hostfull + @product_detail.thumb.to_s,:border=>"0")%></br>
            <%=h @product_detail.product.product_name%></br>
            <%=h truncate(@product_detail.product.product_description, :length=>100)%></br>
            
            Current Inventory: <%= @product_detail.units_in_stock %></br>

          </div>

          <%= link_to 'View Product Detail',{:host=>@host,:action=>:edit, :controller=>:products , :id=>@product_detail.product.id}, {}%><br><br>

          <br><br>