<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title><%=@site_name %></title>
    <%@host=@hostfull[7..@hostfull.length-1]%>

<%#@hostfull=getHTMLsitePreference('siteURL')
@host=@hostfull[6..@hostfull.length-2]%>

    <% ActionController::Base.asset_host = @hostfull%>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <%= stylesheet_link_tag 'index' %>

  </head>

  <body>
    <table>
      <tr>
        <td>
          <%=  link_to image_tag(attachments['logo-100.png'].url, :host=>@host,:border=>"0"), url_for(:host=>@host,:controller=>'store',:action=>'store_list', :page=> '1')%>
        </td>
      </tr>
      <tr>
        <td id="content_c_content">

          Dear <%=@user.full_name%>,
          <br><br>
          Thank you for registering with our site, to activate your account please click here:<br><br>

          <%= link_to 'Activate Account',@hostfull+"/activate/" + @user.activation_code%><br><br>

          <br><br>

          Thank you for using our site !!!<br><br>

          <%=@site_name %><br><br>


        </td>
      </tr>
    </table>
  </body>
</html>
<% ActionController::Base.asset_host = ""%>
