
       <p>
        <b>Code to use in store:</b><br>
        <%=editablefieldcreate("coupon_code", @coupon)%>
      </p>

      
      <p>
        <b>Full Description to show in cart:</b><br>
        <%=editablefieldcreate("description", @coupon)%>
      </p>



      <p>
        <b>Start Date:</b><br>
        <%=editablefieldcreate("start_date", @coupon)%>
      </p>



      <p>
        <b>End Date:</b><br>
        <%=editablefieldcreate("end_date", @coupon)%>
      </p>



      <p>
        <b>Value</b><br>
        <%=editablefieldcreate("value", @coupon)%>
      </p>

 <p>
        <b>min amount</b><br>
        <%=editablefieldcreate("min_amount", @coupon)%>
      </p>


      <p>
        <b>Type</b><br>
          <%=ajax_select2("coupon_type","coupon",@coupon, Coupon::COUPON_TYPES)%><br><br>
        <%#=editablefieldcreate("coupon_type", @coupon)%>
      </p>

      <p>
        <b>One time Only:</b><br>
          <%=editablecheckboxedit("one_time_only", @coupon, "Only use once")%> 
      
        <%#=editablefieldcreate("coupon_type", @coupon)%>
      </p>
      </br>
 <p>
        <b>Only applies to most expensive item in cart:</b><br>
          <%=editablecheckboxedit("only_most_expensive_item", @coupon, "Only Most Expensive Item")%> 

        <%#=editablefieldcreate("coupon_type", @coupon)%>
      </p>
      </br>
      <p>
          <p>
        <b>Special Calcuation:(from developer)</b><br>
        <%=editablefieldcreate("coupon_calc", @coupon)%>
      </p>
        </br>
        </br>
        </br>
        
      </p>
      
