<div class="myaccountblock" Align="Left">
    <div align="center">
    <!-- START:flash -->
    <% if notice -%>
      <div id="notice"><%= notice  %></div>
    <% end -%>
    <!-- END:flash -->
    
    <% if @coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

      <ul>
      <% @coupon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    
  </div>

  <div class="myaccountheader">Edit Coupon</div>
  <div class="myaccountsection">
    <div class="myaccountheading">Information for coupon</div>
    <div class="myaccountcontent">

      <%= render 'form' %>

         </div>
    </p>
  </div>
  
<%= link_to 'Show', @coupon %> |
<%= link_to 'Back', coupons_path %>
   

</div>

