

<div class="cms-content">

    <p>
        <b>Name:</b><br>
        <%=editablefieldcreate("company_name", @retailer)%>
    </p>



    <p>
        <b>Street Address 1</b><br>
        <%=editablefieldcreate("company_street_1", @retailer)%>
    </p>



    <p>
        <b>Street Addres 2</b><br>
        <%=editablefieldcreate("company_street_2", @retailer)%>
    </p>



    <p>
        <b>City</b><br>
        <%=editablefieldcreate("company_city", @retailer)%>
    </p>



    <p>
        <b>State</b><br>
        <%=editablefieldcreate("company_state", @retailer)%>
    </p>



    <p>
        <b>Zip Code</b><br>
        <%=editablefieldcreate("company_zip", @retailer)%>
    </p>


    <p>
        <b>Phone Number</b><br>
        <%=editablefieldcreate("company_phone", @retailer)%>
    </p>


    <p>
        <b>Web Site</b><br>
        <%=editablefieldcreate("company_website", @retailer)%>
    </p>

    <p>
        <b>Company Hours (3 fields)</b><br>
        <%=editablefieldcreate("company_hours_1", @retailer)%></br>
        <%=editablefieldcreate("company_hours_2", @retailer)%></br>
        <%=editablefieldcreate("company_hours_3", @retailer)%></br>
    </p>

</div>
