{"draw": <%= params[:draw] || -1 %>,
 "recordsTotal": <%= @total_objects %>,
 "recordsFiltered": <%= @total_objects %>,
 "data":[
<% @objects.each do |retailer| %>
  [
   "<%=editablefieldcreate('company_name', retailer,"name").gsub("\"", "'").html_safe() %> <div id='retailer-id' class='hidden-item'> <%= retailer.id%></div> ",
   "<%=editablefieldcreate('company_street_1', retailer,"name").gsub("\"", "'").html_safe() %>",
   "<%=editablefieldcreate('company_city', retailer,"name").gsub("\"", "'").html_safe() %>",
   "<%=editablefieldcreate('company_state', retailer,"name").gsub("\"", "'").html_safe() %>",
   "<%=editablefieldcreate('company_zip', retailer,"name").gsub("\"", "'").html_safe() %>",
   "<center><div class='delete-retail-item'><%=image_tag('interface/delete.png', :border=>'0').gsub("\"", "'").html_safe() %></div> </center>"
] <% if @objects.last != retailer then %> , <% end %>
<% end %>
]}
