
<table width="1100" border="0" cellpadding="1" cellspacing="1">
    <tbody>
        <tr>
            <td>
                <%= image_tag(image_url("site/logo-100.png"), :width=>"225")%>
            </td>
            <td align="right">
                <h1>C U S T O M E R &nbsp;&nbsp;&nbsp; S A L E S &nbsp;&nbsp;&nbsp;R E P O R T </h1>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding-top:25px; padding-bottom:25px" >
                <table border="0" width="100%">
                    <tbody>
                        <tr>
                            <td align="right"><b>Report Name:</b></td><td>Customer Sales Report</td>
                            <td align="right"><b>Report Date(s):</b></td><td><%= @start_date.to_date.strftime(" %m/%d/%Y") %> <%= ( @end_date.to_date.blank? ? "" : "thru "+ @end_date.to_date.strftime(" %m/%d/%Y")) %> </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <table cellpadding="2" cellspacing="0" border="1" width="100%" class="data-table">
                    <thead>
                        <tr>
                            <th>Invoice</th>
                            <th>Name</th> 
                            <th>Company</th>
                            <th>Address</th>
                            <th>Email</th>
                            <th>Image</th>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Paid</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% line_number_counter = 0 %>

                        <%  @orders.each_with_index do |order, counter| %>
                          <% line_number_counter = line_number_counter + 1 %>
                          <tr height="60" class="<%= cycle('odd gradeA', 'even gradeA')%> shipping-item-row"  style = "font-size:14px; cursor:pointer;">
                              <td align="center"><%=order.id%></td>
                              <td align="center"><%= order.user.full_name rescue ""%></td>
                              <td align="center"><%= order.user.company_name rescue "n/a"%></td>                              
                              <td align="center"><%= "#{order.bill_street_1} #{order.bill_street_2}, #{order.bill_city} #{order.bill_state} #{order.bill_zip}" rescue "n/a"%></td>
                              <td align="center"><%= order.user.name rescue "n/a"%></td>
                            
                          <% order.order_items.each_with_index do |order_item,item_counter|%>
                            <% if item_counter = 1 then %>
                                
                              
                            
                              <% line_number_counter = line_number_counter + 1 %>
                            <% else %>
                          </tr>
                                                      <tr height="60" class="<%= cycle('odd gradeA', 'even gradeA')%> shipping-item-row"  style = "font-size:14px; cursor:pointer;">
                                <td colspan="5"></td>                              

                              <% line_number_counter = line_number_counter + 2 %>
                            <% end %>
                                <td align="center" width="54"><%= image_tag(image_url(order_item.product_detail.small.to_s),:border=>"0", :width=>"40", :height=>"50") rescue image_tag(image_url("empty_s.jpg"),:border=>"0", :width=>"40", :height=>"50") %></br>
                                <td align="center" style="font-size:12px;"><%=  order_item.product.product_name.html_safe rescue ""%></td>
                                <td align="center"><%=  number_with_precision(order_item.quantity,:precision=>0) %></td>
                                <td align="center"><%=   number_to_currency(order_item.price * order_item.quantity) %></td>
                            </tr>
                          <% end %>
                          <% if (((line_number_counter) % 17  == 0) and @page_number.blank?) or ((line_number_counter) % 18 == 0) then %>
                            <% line_number_counter = 0 %>

                        </tbody>
                    </table>
            </tr>
        </tbody>
    </table>
    <% @page_number = @page_number.blank? ? 1: @page_number + 1%>

    <div style=" page-break-before: always;" class="pagebreak"> </div>

    <table width="1100" border="0" cellpadding="5" cellspacing="5">
        <tbody>
            <tr>
                <td>
                    <table border="0" width="100%">
                        <tbody>
                            <tr>
                                <td align="right"><b>Report Name:</b></td><td>Product Sales Report</td>
                                <td align="right"><b>Report Date(s):</b></td><td><%= @start_date.to_date.strftime(" %m/%d/%Y") %> <%= ( @end_date.to_date.blank? ? "" : "thru "+ @end_date.to_date.strftime(" %m/%d/%Y")) %> </td>
                            </tr>

                        </tbody>
                    </table>

                    <table cellpadding="2" cellspacing="0" border="1" width="100%">
                        <thead>
                            <tr>
                                <th>Invoice</th>
                                <th>Name</th> 
                                <th>Company</th>
                                <th>Address</th>
                                <th>Email</th>
                                <th>Image</th>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Paid</th>
                            </tr>
                        </thead>
                        <tbody>
                          <% end %>

                        <% end %>
                    </tbody>
                </table>



            </td>
        </tr>

    </tbody>

</table>

