
<div class="imagesection">
    <!-- START:hidden_div -->

    <div class="<%= (@product.pictures.count > 999 ? 'hidden-item' : '')%>" id="imagebutton" >              
        <%= render(:partial => "/pictures/upload_button_multi") %>
    </div>


    <div class="<%= (@product.pictures.empty? ? 'hidden-item' : '')%>" id="images" >              
        <%= render(:partial => "picture_list", :object => @product.pictures) %>
    </div>


    <%= render(:partial=>"/pictures/upload_template") %>

</div> 
