
<div class="imagesection">
    <!-- START:hidden_div -->

    <div class="<%= (@all_pictures.count > 999 ? 'hidden-item' : '')%>" id="imagebutton" >              
        <%= render(:partial => "/pictures/upload_button_multi") %>
    </div>

    <div class="<%= (@all_pictures.empty? ? 'hidden-item' : '')%>" id="images" >              
        <%= render(:partial => "swatch_list", :object => @all_pictures) %>
    </div>


    <%= render(:partial=>"/pictures/upload_template") %>

</div> 
