<div class="hidden-item">
    <div id="as_window"><%=params[:request_type]=="window"%></div>
    <div id="dialog-height">650</div>
    <div id="dialog-width">1050</div>
    <div id="dialog-name">Edit Product(<%=@product.id.to_s%>)</div>
</div>

<% if notice -%>
      <div id="notice"><%= notice  %></div>
    <% end -%>
    <!-- END:flash -->

    <% if @product.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

        <ul>
          <% @product.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <%=  product_info(@product) %>

<%= tinymce_assets %>


<div id="product-tabs">
<ul>
        <li><a href="#information-tab">Information</a></li>
        <li><a href="#store-layout">Layout</a></li>
        <li><a href="#inventory">Inventory</a></li>
        <li><a href="#images-tab">Images</a></li>
    </ul>
    <div id="information-tab">
        <div class="cms-content">
       
      <%= render 'form' %>

    </div>
  </div>

 <div id="store-layout">
        <div class="cms-content">

      <%= render :partial=>"layout_info" %>

    </div>
  </div>
 <div id="inventory">
        <div class="cms-content">
           
      <div id="product-inventory">
        <div>
          <%=image_tag "interface/ajax-loader2.gif", :id=>"loader_progress" ,:style=>"display:none"%> 
          <%= link_to('New Inventory', {:action=>:create_empty_record, :controller=>:product_details, :typeofrecord=>"detail", :product_id=>@product.id, :request_type=>"nothing"}, :id=>"new-product-detail-item", :class=>"button-link", :remote =>true)%>

        </div>
        <p>
        <b>Size Label (to be displayed in product detail):</b></br> <%=editablefieldcreate("size_label", @product)%>
        </p>
        
        <div id="product-detail-list">
          <%=render :partial=>"detail_list"%>
        </div>
      </div>
    </div>
  </div>

    <div id="images-tab">
        <div class="cms-content">
            
      <div id="product-images">
      <%= render :partial=>"image_section" %>
      </div>
      </div>
    </div>


  <%#= link_to '<< Back', request.env['HTTP_REFERER'], :class=>"button-link" %> <%#= link_to 'Preview', {:controller=> :site, :action=>:product_detail, :id=>@product} ,:class=>"button-link" %>

</div>

