<div class="hidden-item">
    <div id="as_window"><%=params[:request_type]=="window"%></div>
    <div id="dialog-height">500</div>
    <div id="dialog-width">950</div>
    <div id="dialog-name">Product Settings</div>
</div>


<div id="product-settings-tabs">
    <ul>
        <li><a href="#product-settings-tab">View Settings</a></li>
        <li><a href="#product-purchage-gateway-tab">Payment</a></li>
        <li><a href="#product-images-tab">Product Swatches</a></li>
        <li><a href="#product-report-tools-tab">Reporting Tools</a></li>
        <li><a href="#product-social-tools-tab">Social Sharing Tool</a></li>
        <li><a href="#product-utilities-tab">Utilities</a></li>
        <% @preference_panes.each do |pref_pane| %>
          <li><a href="#product-<%=pref_pane%>-tab"><%=pref_pane.tr("_"," ").capitalize%></a></li>
        <% end %>
    </ul>

    <div id="product-settings-tab">
        <div class="cms-section">
            <div class="cms-heading">Site Settings</div>
            <div class="cms-content">
                <p>
                    <b>Products per Page (Number):</b><br>
                    <%=editablefieldcreate("products_per_page", @settings)%>
                </p>
                <p> 
                    <b>Search Products per Page (Number):</b><br>
                    <%=editablefieldcreate("search_products_per_page", @settings)%>
                </p> 

                <p>
                    <b>Size List (please seperate by ",")</b><br>
                    <%=editablefieldcreate("inventory_size_list", @settings)%>
                </p>

                <p>
                <p>
                    <b>Max Image Size on import (in pixels [i.e 1000] - defaults to 1000px)</b><br>
                    <%=editablefieldcreate("max_image_size", @settings)%>
                </p>  

                </p>
                <b>Force use of system swatches:</b><br>
                <%=editablecheckboxedit("force_system_swatches", @settings, "Send Invoice Copy")%> 

                <p>
                    <b>Default Template:(leave blank for default)</b><br>
                    <%=ajax_select("product_template_name","settings",@settings, @template_types, "Choose Template...")%><br><br>
                </p>

                <p>
                    <b> Default List Template: (leave blank for default) </b></br>
                    <%=ajax_select("product_list_template_name","settings",@settings, @template_list_types, "Choose Template...")%><br><br>
                </p>

                <p>

                    <b> Default search Template: (leave blank for default) </b></br>
                    <%=ajax_select("search_template_name","settings",@settings, @search_template_types, "Choose Template...")%><br><br>

                </p>

            </div>
        </div>
        <div class="cms-section">
            <div class="cms-heading">Order Processing</div>
            <div class="cms-content">
                <p> 
                    <b>Send Invoice copy in email: </b><br>
                    <%=editablecheckboxedit("order_notification", @settings, "Send Invoice Copy")%> 
                </p> 

            </div>
        </div>
        <div class="cms-section">
            <div class="cms-heading">General Shipping Settings</div>
            <div class="cms-content">
                <p> 
                    </br>

                </p>
                 <p>
                    <b>Shipping Methods: (comma seperated list)</b><br>
                    <%=editablefieldcreate("shipping_methods", @settings)%>
                </p>
                
                <p>
                    <b>$0.00 - $49.99: (ground, 2nd day, overnight, pickup)</b><br>
                    <%=editablefieldcreate("shipping_level_1", @settings)%>
                </p>
                <p>
                    <b>$50.00 - $99.99:(ground, 2nd day, overnight, pickup)</b><br>
                    <%=editablefieldcreate("shipping_level_2", @settings)%>
                </p>
                <p>
                    <b>$100.00 - $149.99:(ground, 2nd day, overnight, pickup)</b><br>
                    <%=editablefieldcreate("shipping_level_3", @settings)%>
                </p>

                <p>
                    <b>$150.00 - $1999.99:(ground, 2nd day, overnight, pickup)</b><br>
                    <%=editablefieldcreate("shipping_level_4", @settings)%>
                </p>
                <p>
                </p>
            </div>
        </div>

        <div class="cms-section">
            <div class="cms-heading">Inventory</div>
            <div class="cms-content">
                <p>
                    <b>Click this link to generate inventory report.</b></br>
                    <%=link_to 'Product Inventory (page)', {:controller => 'products', :action => 'generate_inventory_report'}, :id=>"process-image-button",:target => "_blank"%></br></br>
                    <%=link_to 'Product Inventory (csv)', {:controller => 'products', :action => 'generate_inventory_report', :format=>"csv"}, :id=>"process-image-button",:target => "_blank"%>
                </p>
                </br> 

                <p>
                    <b>Email Address for Notification</b><br>
                    <%=editablefieldcreate("inventory_email", @settings)%>
                </p>
            </div>
        </div>
    </div>
    <div id="product-purchage-gateway-tab">
        <div class="cms-section">
            <div class="cms-heading">Normal Gateway</div>
            <div class="cms-content">            <p>
                    <b>Login:</b><br>
                    <%=editablefieldcreate("gateway_login", @settings)%>
                </p>
                <p>
                    <b>Password:</b><br>
                    <%=editablefieldcreate("gateway_password", @settings)%>
                </p>
                <p>
                    <b>Signature: (paypal only)</b><br>
                    <%=editablefieldcreate("gateway_signature", @settings)%>
                </p>
                <p>
                </p>
            </div>
        </div>
        <div class="cms-section">

            <div class="cms-heading">Paypal Express Gateway</div>
            <div class="cms-content">             </p>
                <p>
                    <b>Paypal Express Activation:</b><br>
                    <%=editablecheckboxedit("enable_paypal_express", @settings, "Enable Paypal Express")%> 
                </p>
                <p>
                    <b>Paypal Express Login:</b><br>
                    <%=editablefieldcreate("express_gateway_login", @settings)%>
                </p>
                <p>
                    <b>Paypal Express Password:</b><br>
                    <%=editablefieldcreate("express_gateway_password", @settings)%>
                </p>
                <p>
                    <b>Paypal Express Signature: (paypal only)</b><br>
                    <%=editablefieldcreate("express_gateway_signature", @settings)%>
                </p>
            </div>
        </div>

        <div class="cms-section">
            <div class="cms-heading">Payment Gateway [Square]</div>
            <div class="cms-content">
                <p> 
                    </br>
                </p>
                <p>
                    <b>Square Activation: (will disable normal payment gateway!)</b><br>
                    <%=editablecheckboxedit("enable_square", @settings, "Enable Square")%> 
                </p>
                <p>
                    <b>Application Name:</b><br>
                    <%=editablefieldcreate("gateway_application_name", @settings)%>
                </p>
                <p>
                    <b>Application ID:</b><br>
                    <%=editablefieldcreate("gateway_application_id", @settings)%>
                </p>
                <p>
                    <b>Access Token:</b><br>
                    <%=editablefieldcreate("gateway_access_token", @settings)%>
                </p>
                <p>
                </p>
            </div>
        </div>

    </div>
    <div id="product-images-tab">
        <div class="cms-content">

            <div id="product-images">
                <%= render :partial=>"image_swatch_section" %>
            </div>
        </div>
    </div>

    <div id="product-social-tools-tab">
        <div class="cms-content">
            <p>
                <b>Social Share Javascript(from site):</b><br>
                <%=editablefieldcreate("product_javascript_social_share", @settings, "javascript code", {:sanitize=>false})%>
            </p>
            <p>
                <b>Social Share Buttons(from site):</b><br>
                <%=editablefieldcreate("product_button_block_social_share", @settings,"button code", {:sanitize=>false})%>
            </p>

        </div>

    </div>

         <div id="product-report-tools-tab">
        <div class="cms-content">
            <p>
                <b>Sales Report Start Date:</b><br>
                <%=editabledatefieldcreate("report_start_date", @settings, "dd/mm/yyyy")%>
            </p>
            <p>
                <b>Sales Report End Date:</b><br>
                <%=editabledatefieldcreate("report_end_date", @settings,"dd/mm/yyyy")%>
            </p>
            
            <p>
                <b> Select Category to report on:</b></br>
                <%=create_group_checkbox_live("category_group", @settings, @categories )%>
            </p>

            <p><b> Click link to generate PDF Report.</b></br>
                 <%= link_to "Sales Report", {:controller=>:orders, :action=>:product_list_report, :format=>"pdf"},{:target=>"_blank"} %>
                 </br>
                <%= link_to "Customer Sales Report", {:controller=>:orders, :action=>:customer_sales_report, :format=>"pdf"},{:target=>"_blank"} %>
                  </br>
                <%= link_to "Invoice Report", {:controller=>:orders, :action=>:invoice_list_report, :format=>"pdf"},{:target=>"_blank"} %>
                </br>
                <%= link_to "Receipt Report", {:controller=>:orders, :action=>:receipt_list_report, :format=>"pdf"},{:target=>"_blank"} %>
           </p>
        </div>

    </div>


    <div id="product-utilities-tab">
        <div class="cms-content">
            <p><b> Click this link to reprocess images:</b></br>
                <%=link_to 'Reproces product images', {:controller => 'products', :action => 'reprocess_product_images'}, :id=>"process-image-button", :remote=>true%>
            </p>

            <hr>
            <p>
                <b> Click this link to clean database: (this will remove any bad product details with an inventory key like "%.0")</b></br>
                <%=link_to 'Clean Database', {:controller => 'products', :action => 'clean_product_details'}, :id=>"process-image-button", :remote=>true%>
            </p>
            </br>  
            <hr>

            <p>
                <b> Click this link to clear inventory and deactivate all products in system.</b></br>
                <%=link_to 'Clear Products', {:controller => 'products', :action => 'clear_product_inventory_and_make_all_inactive'}, :id=>"process-image-button", :remote=>true%>
            </p>
            </br>  
            <hr>
            <p>
                <b> Click this link to Activate Products with Inventory:</b></br>
                <%=link_to 'Activate Products', {:controller => 'products', :action => 'activate_all_products'}, :id=>"process-image-button", :remote=>true%>
            </p>
            </br>  
            <hr>
            <p>
                <b> Click this link to Deactivate Products with out any inventory:</b></br>
                <%=link_to 'Hide Inactive Products', {:controller => 'products', :action => 'hide_inactive_inventory'}, :id=>"process-image-button", :remote=>true%>
            </p>
            </br> 
        </div>
    </div>

    <% @preference_panes.each do |pref_pane| %>

      <div id="product-<%=pref_pane%>-tab">
  <%#=render(:partial=>"_custom_prefs;windsor_utilities.html")  %>
          <%=render(:partial=> "custom_prefs0" + pref_pane+ ".html")  %>
      </div>

    <% end %>
</div>